<!doctype html>
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="scripts/1.js"></script>
</head>

<body ng-app="my" ng-controller="ctrl">
<h1 class="text-center">Notepad</h1>
<div class="container">
<ul class="nav nav-tabs">
<li clas="active"><a data-toggle="tab" href="#files">Open</a></li>
<li><a data-toggle="tab" href="#new">New</a></li>
</ul>
<div class="tab-content">
<div class="tab fade in active" id="files">
<!--ul class="list-unstyled" ng-repeat="x in files">
<li>{{x}}</li>

</ul-->
<table class="table table-hover">
	<tr><th>Sr.no.</th>
		<th>Name</th>
		<th>Date</th>
		<th>Time</th>
		<th>Size</th>
	</tr>
	<tr ng-show="$index > 0"ng-repeat="x in files">
		<td>{{$index}}</td>
		<td>{{x.Name}}</td>
		<td>{{x.date}}</td>
		<td>{{x.time}}</td>
		<td>{{x.size}}</td>
		</tr>
	</table>
</div>
<div class="tab fade in" id="new">
<div class="container text-center">
	<form name="form">
<div class="form-group">
<div class="row">
<input type="text" ng-model="title" placeholder="untitled">
</div>
<button type="button" ng-show="show" class="btn-justified" ng-click="addtitile()">

Add File Name	</button>
<button type="button" ng-show="!show" class="btn-justified" ng-click="renametitile()">

Rename File Name	</button>
</div>
{{size}}
<div class="form-group">
<textarea style="resize:none;" ng-model="data" class="form-control" rows="15">
	</textarea>
</div>
<button type="button" class="btn-justified" ng-click="save()">
Save
</button>
</div>
</div>
</div>

	</body>
	</html>
